[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = {py = "*"}
python-dotenv = "*"
emoji-country-flag = "*"
langdetect = "*"
googletrans = "4.0.0rc1"

[dev-packages]

[requires]
python_version = "3.11"
